@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Adicionar estilos para os checkboxes */
.custom-checkbox {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #00e2f4;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-checkbox:checked {
  background-color: transparent;
}

.custom-checkbox:checked::before {
  content: "✔";
  display: block;
  text-align: center;
  color: #00e2f4;
  font-size: 12px;
}

/* Adicionar estilos para os radio buttons */
.custom-radio {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #00e2f4;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-radio:checked {
  background-color: #00e2f4;
}

.custom-radio:checked::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #001e27;
  border-radius: 50%;
  margin: auto;
  position: relative;
  top: 4px;
}

/* Estilos para telas maiores que 1180px */
@media (min-width: 1180px) {
  .lg-flex-row {
    flex-direction: row;
  }
  .lg-mt-neg-200 {
    margin-top: -200px;
  }
  .lg-mt-neg-320 {
    margin-top: -320px;
  }
  .md-flex-row {
    flex-direction: row;
  }
  .md-mt-neg-200 {
    margin-top: -200px;
  }
  .md-mt-neg-320 {
    margin-top: -320px;
  }
}

/* Estilos para telas menores que 1180px */
@media (max-width: 1179px) {
  .flex-col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .no-mt-neg {
    margin-top: 0;
  }
}
